In [95]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [53]:
df = pd.read_csv(r"C:\Users\ACER\Downloads\titanic_dataset.csv")
df.set_index('PassengerId', inplace=True)

In [55]:
print(df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [59]:
print(df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

In [61]:
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [63]:
print(df.shape)

(891, 11)

In [89]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
print(df.isnull().sum())

Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [91]:
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

In [97]:
scaler = MinMaxScaler()

In [99]:
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [101]:
print(df.head())

             Survived  Pclass  \
PassengerId
1                 0.0     1.0
2                 1.0     0.0
3                 1.0     1.0
4                 1.0     0.0
5                 0.0     1.0

                                                          Name     Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris    male
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female
3                                       Heikkinen, Miss. Laina  female
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
5                                     Allen, Mr. William Henry    male

                  Age  SibSp  Parch            Ticket      Fare Cabin Embarked
PassengerId
1            0.271174  0.125    0.0         A/5 21171  0.014151   NaN        S
2            0.472229  0.125    0.0          PC 17599  0.139136   C85        C
3            0.321438  0.000    0.0  STON/O2. 3101282  0.015469   NaN        S
4            0.434531  0.125    0.0            113803  0.103644  C123        S
5            0.434531  0.000    0.0            373450  0.015713   NaN        S

In [103]:
print(df[numerical_cols].min())
print(df[numerical_cols].max())

Survived    0.0
Pclass      0.0
Age         0.0
SibSp       0.0
Parch       0.0
Fare        0.0
dtype: float64
Survived    1.0
Pclass      1.0
Age         1.0
SibSp       1.0
Parch       1.0
Fare        1.0
dtype: float64